name: "Close stale pull requests"
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f
        with:
          stale-pr-message: 'Этот PR не обновлялся 30 дней. Он будет закрыт через 7 дней, если не появится новой активности.'
          close-pr-message: 'PR закрыт из-за неактивности.'
          days-before-stale: 30
          days-before-close: 7
